.manage-user-container {
    margin: 15px;

    .title {
        font-weight: 600;
        font-size: 30px;

    }

    .users-content {
        button {
            margin: 5px 0px;
        }
    }
}